.MachMaker {
	display: flex;
	flex-direction: column ;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: #1a1a1a;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	padding: 1em 1em;
	box-sizing: border-box;
	overflow: hidden;
}

button {
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em;
	border: 1px solid #fff;
	border-radius: 3px;
	background-color: transparent;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
	text-decoration: none;
	text-align: center;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		transform: skewX(10deg);
	}
	50% {
		transform: scale(1.01);
		transform: skewX(15deg);
	}
	100% {
		transform: scale(1);
		transform: skewX(10deg);
	}
}

.SelectGame {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #1a1a1a;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	padding: 1em 1em;
	box-sizing: border-box;
	overflow: hidden;
	animation: pulse 10s infinite;
}
.InviteUserInterface {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: #1a1a1a;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	padding: 1em 1em;
	box-sizing: border-box;
	overflow: hidden;
}

.SelectGame button:hover{
	transform: translateY(10px);
	box-shadow: #fff 0px 0px 10px;
}


input[type="text"]
{
	color: #1a1a1a !important;
	font-weight: 600 !important;
	padding-left: 1em !important;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}