.pong-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #000;
    overflow: hidden;
	width: 80%;
}

.pong-score {
    position: absolute; /* Make the score display absolute */
    top: 0; /* Position it at the top */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Fine-tune the centering */
    width: auto; /* Let it auto size based on content */
    height: 10%;
    font-size: 10vh;
    color: #fff;
    z-index: 10; /* Make it appear on top */
}

.pong-player, .pong-ball {
	position: relative;
	margin: 1vw;
    width: 2.2vw;
    height: 23vh;
    background-color: #fff;
}

.pong-ball {
	position: relative;
    width: 5vh;
    height: 5vh;
    align-self: center;
}
