.pong-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #000;
    overflow: hidden;
	width: 80%;
}

.pong-player, .pong-ball {
	position: relative;
	margin: 1vw;
    width: 2.2vw;
    height: 23vh;
    background-color: #fff;
}

.pong-ball {
	position: relative;
    width: 5vh;
    height: 5vh;
    align-self: center;
}
