.MainWrapper {
	display: flex;
}

.Sidebar {
	background: linear-gradient(
		to bottom,
		transparent,
		rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));

	position: fixed;
	width: 100px;
	padding: 20px;
}

.Sidebar .Entity{
	height:20vh;
}

.MainDisplay {
	margin-left: 100px;
	/* display: flex; */
	position: fixed;
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	/* height: 100vh; */
	width: 100%;
}

.List {
	/* make scrollable 70% height box of list elements */
	overflow-y: scroll;
	height: 70vh;
}

section {
	display: flex;
	height: 100vh; /* This ensures your section takes up the full height of the viewport */
  }
  

.LeftSection, .MainSection {
	/* flex: 1; */
	height: 100%;
	overflow: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #fff;
	z-index: 1;
}

.LeftSection {
	border-right: 1px solid #e6e6e6;
	flex: 1;
}

.MainSection {
	flex: 3;
}

.MainSection {
	display: flex;
	/* flex-direction: row; If you want to split horizontally */
	/* width: 60%; */
}

.MainSubsection1, .MainSubsection2 {
	/* flex: 2; */
	overflow: auto;
	/* apply other styles as needed */
}


.MainSubsection1 {
	flex: 3; /* takes up 75% of the space */
}

.MainSubsection2 {
	flex: 1; /* takes up 25% of the space */
}

.Entity {
	height:70px;
	border-bottom:1px solid #e7ebee;	
	position:relative;

}

.Entity:hover{
	background:#f1f4f6;
	cursor:pointer;
}

.Entity img{
	width:40px;
	border-radius:50%;
	margin:15px;
	float:left;
}

.Entity p{
	padding:15px 0 0 0;			
	float:left;
	width:220px;
}
.Entity p strong{
	font-weight:600;
	font-size:15px;
	color:#597a96;  

}
.Entity p span{
	font-size:13px;
	font-weight:400;
	color:#aab8c2;
}